{
  "presets": ["@babel/env"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "babel-plugin-rewire"
    
  ],
  "sourceMaps": "inline",
  "retainLines": true
}
