<header class="navbar navbar-dark bg-dark box-shadow" id="topHeader">

  <h1>
    <img src="/assets/headphones.svg" width="40px" />
    Beets Webapp
  </h1>
</header>

<criteria-list (selectedElement)="selectAlbum($event)" [list]="albumsList" [label]="'albums'"></criteria-list>
<criteria-list (selectedElement)="selectAlbumArtist($event)" [list]="albumsArtistByNameList" [label]="'albums artists (name)'"></criteria-list>
<criteria-list (selectedElement)="selectAlbumArtist($event)" [list]="albumsArtistByDateList" [label]="'albums artists (added)'"></criteria-list>

<form class="requestForm" (submit)="getSongs()" >
  <input placeholder="beets request" [(ngModel)]="textRequest" type="text" name="textRequest" id="textRequest">
  <input type="submit">
</form>

<div class="top-container">

<aside>
  <!-- use class "closed" on aside to hide text -->
  <ul class="list-group" >
    <li class="list-group-item ">
      <nav class="album">
        albums
      </nav>
    </li>
    <li class="list-group-item">
      <nav class="artist">
        artists
      </nav>
    </li>
    <li class="list-group-item">
      <nav class="playlistbtn">
        playlists      
      </nav>
    </li>
  </ul>
</aside>

<section>
  Section content
</section>

</div>



<custom-player [playlist]="songsResponse.songs" ></custom-player>
