<header class="navbar navbar-dark bg-dark box-shadow" id="topHeader">

  <h1>
    <img src="/assets/headphones.svg" width="40px" />
    Beets Webapp
  </h1>
  <form class="requestForm" (submit)="getSongs()" #documentEditForm="ngForm" >
    <input placeholder="beets request" [(ngModel)]="textRequest" type="text" name="textRequest" id="textRequest">
    <input type="submit" title="search" value="" >
  </form>
</header>

<div class="top-container">

<aside>

  <button class="toggle"></button>
  <!-- use class "closed" on aside to hide text -->
  <ul class="list-group" >
    <li class="list-group-item ">
      <nav class="album">
        albums
      </nav>
    </li>
    <li class="list-group-item">
      <nav class="artist">
        artists
      </nav>
    </li>
    <li class="list-group-item">
      <nav class="playlistbtn">
        playlists      
      </nav>
    </li>
  </ul>
</aside>

<section>
  Section content
</section>

</div>



<custom-player [playlist]="songsResponse.songs" ></custom-player>
