<header class="navbar navbar-dark bg-dark box-shadow" id="topHeader">

  <h1>
    <img src="/assets/headphones.svg" width="40px" />
    Beets Webapp
  </h1>
  <form class="requestForm" (submit)="search()" #documentEditForm="ngForm" >
    <button class="toggle" (click)="toggleMenu()"></button>
    <input placeholder="beets request" [(ngModel)]="textRequest" type="text" name="textRequest" id="textRequest">
    <input type="submit" title="search" value="" >
  </form>
</header>

<div class="top-container">

<aside>

  <ul class="list-group" [ngClass]="menuClasses" >
    <li class="list-group-item ">
      <nav class="album">
        <a
          routerLinkActive="active"
          [routerLink]="'/albums'"
        >
        albums
      </a>
      </nav>
    </li>
    <li class="list-group-item">
      <nav class="artist">
        <a
          routerLinkActive="active"
          [routerLink]="'/artists'"
        >
          artists
        </a>
      </nav>
    </li>
    <!--
    <li class="list-group-item">
      <nav class="playlistbtn">
        playlists      
      </nav>
    </li>
    -->
    <li class="list-group-item">
      <nav class="ongoing">
        <a
          routerLinkActive="active"
          [routerLink]="'/ongoing'"
        >
          ongoing
        </a>
      </nav>
  </ul>
</aside>

<section>
  <router-outlet></router-outlet>
</section>

</div>



