
<ul class="articleList">
  <li *ngFor="let albumartist of albumsArtists">
    <article>
      <header> {{ albumartist.name }} </header>
      <div class="imgTopContainer">
        <div class="dummy"></div>
        <div class="imgLowContainer">
          <div class="imgContainer">
            <img alt="Image not found" [src]="albumartist.url" />
          </div>
        </div>
      </div>
			<footer>
				<p>Added on
				<time [dateTime]="utils.getFormatedDate(albumartist.addedDate)"> {{ albumartist.addedDate.toDateString() }} </time>
				</p>
			</footer>
    </article>
  <li>
</ul>
