
li{
  list-style-type: none;
}

ul.articleParent{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

ul.articleParent li{
  width: 20%;
}

article{
  margin: 1em;
}

article .imgContainer{
  position: relative;
  width: 100%;
}

article .imgContainer:before{
  content: "";
	display: block;
	margin-top: 100%; 	/* initial ratio of 1:1*/
}

li img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
