
<ul class="articleList">
  <li *ngFor="let artist of artists">
    <article (click)="search(artist.mainField, artist.name)"  >
      <header> {{ artist.name }} </header>
      <div class="imgTopContainer">
        <div class="dummy"></div>
        <div class="imgLowContainer">
          <div class="imgContainer">
            <img alt="Image not found" [src]="artist.url" />
          </div>
        </div>
      </div>
			<footer>
				<p>Added on
				<time [dateTime]="utils.getFormatedDate(artist.addedDate)"> {{ artist.addedDate.toDateString() }} </time>
				</p>
			</footer>
    </article>
  <li>
</ul>
